*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    min-height: 100vh;

    display: grid;
    grid-template-areas: 
    
    "nav"
    "main"
    "footer";

    grid-template-columns: auto;
    grid-template-rows: 1fr 7fr 2fr;
    

}

/* BARRA DE NAVEGACION */

.barra-nav{

    grid-area: nav;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img-barra-nav{

    width: 100%;
    height: 100px;
    object-fit: contain;
    
}

.items-barra-nav{

    list-style: none;
    width: 100%;

    display: flex;
    justify-content: space-around;
    
}

.seccion a{
    
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;

    transition: color 0.2s ease-in;
}

.seccion a:hover{

    color: #ffffff;
   
}

.seccion{

    display: inline-block;
    background-color:#ffffff ;
    padding: 1px 5px;

    transition: background-color 1s ease-in;
    transition: transform 0.3s ease;
    /* transform: rotate(0deg) scale(1); */
 
}

.seccion:hover{

    background-color:#101010 ;
    transform: rotate(360deg) scale(1.2);

}

.cont-principal{

    grid-area: main;
    background-color: #ffdef6;

}

/* PIE DE PAGINA */

.pie-pagina{

    grid-area: footer;
    background-color: #000000;
    color: #ffffff;
    
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.iconos{

    display: flex;
    justify-content: center;
    gap: 15px;  
}

.ig{

    color: #ffffff;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.ig:hover{

    color: #ffdef6;
    transform: scale(1.2);
}

.ex{

    color: #ffffff;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.ex:hover{

    color: #ffdef6;
    transform: scale(1.2);
}

.face{

    color: #ffffff;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.face:hover{

    color: #ffdef6;
    transform: scale(1.2);
}
.info-contacto{

    width: 100%;
    text-align: center;
}

.mail-contacto{

    border-bottom: solid 1px #ffffff;
}

.img-apple-pay{

    width: 100%;
    height: 50px;
    object-fit: contain;
    border-bottom: solid 1px #ffffff;
    
}









@media screen and (min-width: 576px) {

    body{

        min-height: 100vh;
    
        display: grid;
        grid-template-areas: 
        
        "nav main"
        "nav main"
        "footer footer";
    
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 7fr 2fr;
        
    
    }

    .barra-nav{

        grid-area: nav;
        background-color: #ffffff;
    
        display: flex;
        flex-direction: column;
        
    }

    .items-barra-nav{

        padding: 0;
        
        list-style: none;
         width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        
           
    }

    .seccion{

        width: 100%;
        margin: 0;
        padding: 0;
       
        transition: background-color 0.5s ease-in;
        transform: none;
        /* transform: scale(1); */
    }

    .seccion:hover{

        background-color:#101010 ;
        transform: none;
      
    
    }
    
    .seccion a{
    
        display: block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        color: #000000;
        font-size: 1rem;

        letter-spacing: 0.08em;
        font-weight: 500;
        
        transition: color 0.2s ease-in;
        transform: none;
    }

}