*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    min-height: 100vh;

    display: grid;
    grid-template-areas: 
    
    "nav"
    "main"
    "footer";

    grid-template-columns: auto;
    grid-template-rows: 1fr auto 2fr;
    

}

/* BARRA DE NAVEGACION */

.barra-nav{

    grid-area: nav;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img-barra-nav{

    width: 100%;
    height: 100px;
    object-fit: contain;
    
}

.items-barra-nav{

    list-style: none;
    width: 100%;

    display: flex;
    justify-content: space-around;
    
}

.seccion a{
    
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;

    transition: color 0.2s ease-in;
}

.seccion a:hover{

    color: #ffffff;
   
}

.seccion{

    display: inline-block;
    background-color:#ffffff ;
    padding: 1px 5px;

    transition: background-color 1s ease-in;
    transition: transform 0.3s ease;
    /* transform: rotate(0deg) scale(1); */
 
}

.seccion:hover{

    background-color:#101010 ;
    transform: rotate(360deg) scale(1.2);

}

/* CONTENIDO PRINCIPAL */

.cont-principal{

    grid-area: main;
    background-color: #ffdef6;

}

.texto-w{

    background-color: #000000;
    color: #ffffff;
    border: none;
    
    padding: 12px 28px;
    font-weight: 600;
    letter-spacing:  5px; ;
}

.women{

    display: flex;
    flex-direction: column;
}

.cartas-women{

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;

    
}

.card-w{


    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    
    border: 1px solid #000000;
       
}

/* .img-m{
    width: 100%;
    height: 400px;
    object-fit: contein;
    display: block;
} */
/* IMAGENES */

.img-muj1{

    width: 100%;
    height: 360px;
    background-image: url("../img/MUJER-1A.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.3s ease;
}

.img-muj1:hover{

    background-image: url("../img/MUJER-1B.png");
}

.img-muj2{

    width: 100%;
    height: 360px;
    background-image: url("../img/MUJER-2A.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.3s ease;
}

.img-muj2:hover{

    background-image: url("../img/MUJER-2B.png");
}

.img-muj3{

    width: 100%;
    height: 360px;
    background-image: url("../img/MUJER-3A.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.3s ease;
}

.img-muj3:hover{

    background-image: url("../img/MUJER-3B.png");
}

.img-muj4{

    width: 100%;
    height: 360px;
    background-image: url("../img/MUJER-4A.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.3s ease;
}

.img-muj4:hover{

    background-image: url("../img/MUJER-4B.png");
}

.descripcion-w{

    padding: 5px;
}

.descripcion-w p{

    margin: 0;
    
}

.nombre{

    color: #000000;
    font-weight: 400;
    letter-spacing: 2px;
}

.tipo{

    color: #6a6a6a;
    font-weight: 400;
    letter-spacing: 2px;
}

.color{

    color: #d5d3d3;
    font-weight: 400;
    letter-spacing: 2px;
}
.precio{

    color: #000000;
    font-weight: 800;
    letter-spacing: 2px;
}

/* HOMBRE */

.texto-h{

    background-color: #000000;
    color: #ffffff;
    border: none;
    
    padding: 12px 28px;
    font-weight: 600;
    letter-spacing:  5px; ;
}

.men{

    display: flex;
    flex-direction: column;
}

.cartas-men{

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;

    
}

.card-m{


    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    
    border: 1px solid #000000;
       
}

/* .img-m{
    width: 100%;
    height: 400px;
    object-fit: contein;
    display: block;
} */
/* IMAGENES */

.img-men1{

    width: 100%;
    height: 360px;
    background-image: url("../img/MEN-1A.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.3s ease;
}

.img-men1:hover{

    background-image: url("../img/MEN-1B.png");
}

.img-men2{

    width: 100%;
    height: 360px;
    background-image: url("../img/MEN-2A.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.3s ease;
}

.img-men2:hover{

    background-image: url("../img/MEN-2B.png");
}

.img-men3{

    width: 100%;
    height: 360px;
    background-image: url("../img/MEN-3A.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.3s ease;
}

.img-men3:hover{

    background-image: url("../img/MEN-3B.png");
}

.img-men4{

    width: 100%;
    height: 360px;
    background-image: url("../img/MEN-4A.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.3s ease;
}

.img-men4:hover{

    background-image: url("../img/MEN-4B.png");
}

.descripcion-m{

    padding: 5px;
}

.descripcion-m p{

    margin: 0;
    
}

.nombre{

    color: #000000;
    font-weight: 400;
    letter-spacing: 2px;
}

.tipo{

    color: #6a6a6a;
    font-weight: 400;
    letter-spacing: 2px;
}

.color{

    color: #d5d3d3;
    font-weight: 400;
    letter-spacing: 2px;
}
.precio{

    color: #000000;
    font-weight: 800;
    letter-spacing: 2px;
}


/* PIE DE PAGINA */

.pie-pagina{

    grid-area: footer;
    background-color: #000000;
    color: #ffffff;
    
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.iconos{

    display: flex;
    justify-content: center;
    gap: 15px;  
}

.ig{

    color: #ffffff;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.ig:hover{

    color: #ffdef6;
    transform: scale(1.2);
}

.ex{

    color: #ffffff;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.ex:hover{

    color: #ffdef6;
    transform: scale(1.2);
}

.face{

    color: #ffffff;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.face:hover{

    color: #ffdef6;
    transform: scale(1.2);
}
.info-contacto{

    width: 100%;
    text-align: center;
}

.mail-contacto{

    border-bottom: solid 1px #ffffff;
}

.img-apple-pay{

    width: 100%;
    height: 50px;
    object-fit: contain;
    border-bottom: solid 1px #ffffff;
    
}


/* VERSION ESCRITORIO */

@media screen and (min-width: 576px) {

    body{

        min-height: 100vh;
    
        display: grid;
        grid-template-areas: 
        
        "nav main"
        "footer footer";
    
        grid-template-columns: 1fr 5fr;
        grid-template-rows: auto 2fr;
        
    
    }

    .barra-nav{

        grid-area: nav;
        background-color: #ffffff;
    
        display: flex;
        flex-direction: column;
        
    }

    .items-barra-nav{

        padding: 0;
        
        list-style: none;
         width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        
           
    }

    .seccion{

        width: 100%;
        margin: 0;
        padding: 0;
       
        transition: background-color 0.5s ease-in;
        transform: none;
        /* transform: scale(1); */
    }

    .seccion:hover{

        background-color:#101010 ;
        transform: none;
      
    
    }
    
    .seccion a{
    
        display: block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        color: #000000;
        font-size: 1rem;

        letter-spacing: 0.08em;
        font-weight: 500;
        
        transition: color 0.2s ease-in;
        transform: none;
    }

    /* CONTENIDO PRINCIPAL */

    .cartas-women{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 0px;   
    }

    .cartas-men{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 0px;   
    }
}